@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff"); }

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff"); }

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff"); }

.font {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem; }
  .font--bold {
    font-family: "Roboto Bold", Arial, sans-serif;
    line-height: 1.8rem; }
  .font--medium {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6rem; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  width: 120rem;
  padding: 0 2.7rem;
  margin: 0 auto; }

.page-picture {
  background-color: #849d8f;
  background-image: url("../img/bg1.png");
  background-position: top center;
  background-repeat: no-repeat; }

.section-slider {
  margin-bottom: 5.5rem; }

.two-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 4rem; }

.section-price {
  margin-bottom: 3.8rem; }

.section-about {
  margin-bottom: 4rem; }

.section-feedback {
  position: relative;
  width: 100%;
  margin-bottom: 2rem; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.main-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.main-navigation {
  margin-right: auto; }
  .main-navigation__items {
    padding-left: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
  .main-navigation__link {
    position: relative;
    padding: .8rem 1.4rem;
    color: #ffffff;
    text-decoration: none; }
  .main-navigation__link::before {
    content: "";
    position: absolute;
    left: 1.2rem;
    right: 1.2rem;
    bottom: .8rem;
    height: .1rem;
    background: rgba(255, 255, 255, 0.2); }
  .main-navigation__link:hover {
    background-color: #f7f6f3;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: #000000; }
  .main-navigation__link:active {
    -webkit-box-shadow: inset 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.6); }
  .main-navigation__link--active {
    color: #ffffff;
    background-color: #d07058;
    -webkit-border-radius: 30px;
    border-radius: 30px; }
  .main-navigation__link--active::before {
    content: "";
    background-color: #d07058; }
  .main-navigation__link--active:hover {
    color: #ffffff;
    background-color: #d07058; }
  .main-navigation__link--active:active {
    -webkit-box-shadow: inset 0px 0px 0px 0px transparent;
    box-shadow: inset 0px 0px 0px 0px transparent; }

.work-time {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  margin-left: 50%; }
  .work-time__text {
    color: #ffffff;
    text-align: right; }
  .work-time__text--big {
    font-size: 22px;
    line-height: 24px;
    margin: 0; }

.about {
  background-image: url("../img/wafer-bg.jpg");
  background-repeat: repeat;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #323232;
  padding: 2.2rem 1.8rem 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem; }
  .about__title {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: .7rem; }

.logo {
  width: 15.4rem;
  height: 6.4rem; }

.banner {
  -webkit-flex-basis: 56rem;
  -ms-flex-preferred-size: 56rem;
  flex-basis: 56rem;
  -webkit-border-radius: 1.5rem;
  border-radius: 1.5rem;
  background-color: #000;
  background-repeat: no-repeat;
  color: #fff; }
  .banner--raspberries-bg {
    background-image: url("../img/raspberries-bg.jpg"); }
  .banner--chocolate-bg {
    background-image: url("../img/chocolate-bg.jpg"); }
  .banner--strawberry-bg {
    background-image: url("../img/strawberry-bg.jpg"); }
  .banner__wrapper {
    margin: 1.4rem 1.7rem 4rem; }
  .banner__title {
    font-size: 3.5rem;
    line-height: 4.1rem;
    margin-bottom: 1.5rem; }
  .banner__text {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 4.5rem; }
  .banner--post-bg {
    background-color: #f8f7f4;
    background-image: url("../img/bg-post.svg");
    background-repeat: no-repeat; }
  .banner__title--color-grey {
    margin-bottom: .5rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 200;
    color: #323232; }
  .banner__wrapper--padding {
    padding-top: 1rem; }
  .banner__text--link {
    font-size: 2.4rem;
    line-height: 3rem;
    color: #323232;
    text-decoration: underline; }
  .banner__wrapper--post-bg {
    background-color: #f8f7f4;
    padding: 3rem 2rem 3.5rem;
    margin: .5rem .6rem;
    -webkit-border-radius: 2rem;
    border-radius: 2rem; }
  .banner_text--color-grey {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #323232;
    margin-bottom: 3.5rem; }

.button-main {
  color: #ffffff;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(left, #e74a35 0%, #f26843 100%);
  background-image: -o-linear-gradient(left, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(90deg, #e74a35 0%, #f26843 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  font-family: "Roboto Bold", Arial, sans-serif; }
  .button-main:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ec6f5e), to(#f58569));
    background-image: -webkit-linear-gradient(bottom, #ec6f5e, #f58569);
    background-image: -o-linear-gradient(bottom, #ec6f5e, #f58569);
    background-image: linear-gradient(to top, #ec6f5e, #f58569);
    -webkit-box-shadow: 0 1px 3px 0 #ac1000;
    box-shadow: 0 1px 3px 0 #ac1000; }
  .button-main:active {
    background-image: -webkit-gradient(linear, left top, right top, from(#e74a35), to(#f26843));
    background-image: -webkit-linear-gradient(left, #e74a35 0%, #f26843 100%);
    background-image: -o-linear-gradient(left, #e74a35 0%, #f26843 100%);
    background-image: linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.6);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.6); }
  .button-main--center {
    padding: 5px 39px 10px;
    margin-left: 350px;
    font-size: 32px;
    line-height: 44px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76); }
  .button-main--other {
    padding: 12px 25px;
    float: right;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
    border: none; }

.button {
  padding: 8px 14px;
  background-color: #9db1a5;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-decoration: none;
  color: #ffffff; }
  .button:hover, .button:focus {
    background-color: #f8f7f4;
    color: #000000; }

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .column__left, .column__right {
    -webkit-flex-basis: 49rem;
    -ms-flex-preferred-size: 49rem;
    flex-basis: 49rem; }
  .column__left {
    padding-left: 5.5rem; }
  .column__text {
    position: relative;
    margin: 1.6rem 0 2.3rem; }
  .column__text::before {
    content: "";
    position: absolute;
    left: -5.5rem;
    bottom: 3rem;
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat; }
  .column__text--icecream::before {
    background-image: url("../img/ice-cream.svg"); }
  .column__text--eco::before {
    bottom: 50px;
    background-image: url("../img/eco.svg"); }
  .column__text--cow::before {
    background-image: url("../img/cow.svg"); }
  .column__text--thermometer::before {
    background-image: url("../img/thermometer.svg"); }

.feedback {
  width: 30.3rem;
  position: absolute;
  top: 6rem;
  right: 2rem;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #fefefe;
  color: #323232;
  padding: 2.7rem; }
  .feedback__text {
    margin-bottom: 2rem; }
  .feedback__text--bold {
    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 2.4rem; }

.form__mail {
  width: 37rem;
  padding: .8rem 1.5rem 1rem;
  font: inherit;
  background-color: transparent;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #d3d3d2; }

.form__button {
  padding: 1rem 1.6rem; }

.icecream {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  color: #fff; }
  .icecream__item {
    position: relative;
    -webkit-flex-basis: 26.7rem;
    -ms-flex-preferred-size: 26.7rem;
    flex-basis: 26.7rem;
    text-align: center; }
  .icecream__text {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-family: "Roboto Medium", Arial, sans-serif;
    display: inline;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .icecream__img {
    width: 26.7rem;
    height: 26.7rem;
    margin-bottom: 1rem; }
  .icecream__sticker {
    position: absolute;
    width: 6.1rem;
    height: 6.1rem;
    background-image: url("../img/hit.svg");
    background-repeat: no-repeat;
    z-index: 1; }
  .icecream__price {
    position: absolute;
    bottom: 6.5rem;
    left: 0;
    color: #ffffff;
    text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5); }
  .icecream__font {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 4.5rem; }
  .icecream__font--small {
    font-size: 3rem; }

.map {
  width: 100vw; }

.radiobox {
  display: inline-block;
  margin-top: 2rem;
  margin-right: .8rem;
  width: 1.7rem;
  height: 1.7rem;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer; }
  .radiobox:hover {
    background: rgba(255, 255, 255, 0.4); }
  .radiobox--selected, .radiobox--selected:hover {
    background-color: #ffffff; }

.slider__title {
  display: none;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: 100;
  font-size: 6rem;
  line-height: 6.2rem;
  color: #ffffff;
  padding: 27.4rem 23.9rem 3.4rem; }

.slider__title--active {
  display: block; }

.social-networks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }
  .social-networks__link {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 3rem;
    height: 3rem;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    border: 3px solid #c2cec7;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    margin-right: 1rem; }
  .social-networks__link:hover {
    opacity: 1; }
  .social-networks__link:active {
    -webkit-box-shadow: inset 0px 2px 2px 0px #888888;
    box-shadow: inset 0px 2px 2px 0px #888888;
    opacity: 0.7; }
  .social-networks__link--insta {
    background-image: url("../img/instagram.svg"); }
  .social-networks__link--twitter {
    background-image: url("../img/twitter.svg"); }
  .social-networks__link--vk {
    background-image: url("../img/vk.svg"); }
  .social-networks__link--fb {
    background-image: url("../img/fb.svg"); }

.submenu {
  position: absolute;
  list-style: none;
  left: 21.5rem;
  margin-top: 1.5rem;
  background-color: #f8f7f4;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #000; }
  .submenu--visible {
    display: block; }
  .submenu__item {
    margin-bottom: .5rem; }
  .submenu__link:hover {
    background-color: #fbded7; }
  .submenu__link:active {
    background-color: #f6b5a5; }
  .submenu__link:link, .submenu__link:visited {
    padding: .8rem 2rem;
    color: #000;
    text-decoration: none;
    display: block;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
  .submenu__link--active, .submenu__link--active:hover, .submenu__link--active:active {
    background-color: #d07058; }
  .submenu__title {
    position: relative;
    padding: .8rem 2rem .8rem;
    margin-bottom: 1rem;
    margin-top: .2rem;
    font-family: "Roboto Bold", Arial, sans-serif;
    line-height: 1.8rem; }
  .submenu__title::before {
    content: " ";
    position: absolute;
    width: 90%;
    left: 8px;
    bottom: -6px;
    height: 1px;
    background: rgba(0, 0, 0, 0.2); }

.user-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }
  .user-menu__item {
    margin-left: 1rem; }
  .user-menu__link {
    text-decoration: none;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .user-menu__link-text {
    margin-left: .8rem; }
  .user-menu__button {
    padding-top: .8rem;
    padding-bottom: .6rem;
    padding-left: .8rem;
    padding-right: .8rem; }
  .user-menu__button:hover path,
  .user-menu__button:focus path {
    fill: #000; }
  .user-menu__button--width-medium {
    padding-left: 1.2rem;
    padding-right: 1.6rem; }
  .user-menu__button--width-high {
    padding-left: 1.2rem;
    padding-right: 3.6rem; }
  .user-menu__button--width-high:hover path:first-child,
  .user-menu__button--width-high:focus path:first-child {
    fill: #d07058; }
  .user-menu__button--width-high:hover circle,
  .user-menu__button--width-high:focus circle {
    fill: #000; }

.footer-menu__items {
  width: 330px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none; }

.footer-menu__item {
  margin-left: 17px; }

.footer-menu__item:last-child {
  margin-left: 30px; }

.footer-menu__link {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none; }

.footer-menu__link--favorite {
  position: relative; }

.footer-menu__link--favorite::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 13px;
  top: 3px;
  left: -20px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0; }

.copyright {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #fff; }
  .copyright__link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-decoration: none;
    color: #fff; }
