@charset "UTF-8";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  background-color: #849d8f; }

img {
  max-width: 100%;
  height: auto; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff"); }

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff"); }

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff"); }

.font {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem; }
  .font--bold {
    font-family: "Roboto Bold", Arial, sans-serif;
    line-height: 1.8rem; }
  .font--medium {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6rem; }

.main-heading {
  font-size: 3.5rem;
  line-height: 4.1rem;
  font-weight: 400;
  color: #fff;
  font-family: "Roboto Bold", Arial, sans-serif;
  margin: 0; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-huge {
  margin-bottom: 7.5rem !important; }

@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0; }
  25% {
    height: 0;
    width: 1rem; }
  50% {
    height: 2rem;
    width: 1rem; } }

@keyframes check {
  0% {
    height: 0;
    width: 0; }
  25% {
    height: 0;
    width: 1rem; }
  50% {
    height: 2rem;
    width: 1rem; } }

.container {
  width: 120rem;
  padding: 0 2.7rem;
  margin: 0 auto; }

.page-picture {
  background-position: top center;
  background-repeat: no-repeat; }
  .page-picture--bg1 {
    background-color: #849d8f;
    background-image: url("../img/bg1.png"); }
  .page-picture--bg2 {
    background-color: #8996a6;
    background-image: url("../img/bg2.png"); }
  .page-picture--bg3 {
    background-color: #9d8b84;
    background-image: url("../img/bg3.png"); }

.section-slider {
  margin-bottom: 5.5rem; }

.two-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 4rem; }

.section-price {
  margin-bottom: 3.8rem; }

.section-about {
  margin-bottom: 4rem; }

.section-feedback {
  position: relative;
  width: 100%;
  margin-bottom: 2rem; }

.breadcrumbs {
  margin-top: -1.6rem;
  margin-bottom: .3rem; }

.section-catalog {
  margin-bottom: 2.4rem; }

.section-catalog-icecream {
  margin-bottom: 6rem; }

.page-nav {
  padding-bottom: 4rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #a9bbb1; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.main-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.submenu {
  display: none;
  position: absolute;
  list-style: none;
  left: 0;
  margin-top: 1.2rem;
  background-color: #f8f7f4;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #000;
  z-index: 100; }
  .submenu__link:hover {
    background-color: #fbded7;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px; }
  .submenu__link:active {
    background-color: #f6b5a5; }
  .submenu__link:link, .submenu__link:visited {
    padding: 1rem 2rem;
    color: #000;
    text-decoration: none;
    display: block;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
  .submenu__link--active, .submenu__link--active:hover, .submenu__link--active:active {
    background-color: #d07058; }
  .submenu__title {
    position: relative;
    padding: .8rem 2rem .8rem;
    margin-bottom: .6rem;
    margin-top: .2rem;
    font-family: "Roboto Bold", Arial, sans-serif;
    line-height: 1.8rem; }
  .submenu__title::before {
    content: " ";
    position: absolute;
    width: 90%;
    left: 8px;
    bottom: -6px;
    height: 1px;
    background: rgba(0, 0, 0, 0.2); }

.main-navigation {
  margin-right: auto; }
  .main-navigation__items {
    position: relative;
    padding-left: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
  .main-navigation__item:hover .submenu {
    display: block; }
  .main-navigation__link {
    position: relative;
    padding: .8rem 1.4rem;
    color: #ffffff;
    text-decoration: none; }
  .main-navigation__link::before {
    content: "";
    position: absolute;
    left: 1.2rem;
    right: 1.2rem;
    bottom: .8rem;
    height: .1rem;
    background: rgba(255, 255, 255, 0.2); }
  .main-navigation__link:hover {
    background-color: #f7f6f3;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: #000; }
  .main-navigation__link:active {
    -webkit-box-shadow: inset 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.6); }
  .main-navigation__link--active {
    color: #ffffff;
    background-color: #d07058;
    -webkit-border-radius: 30px;
    border-radius: 30px; }
  .main-navigation__link--active::before {
    content: "";
    background-color: #d07058; }
  .main-navigation__link--active:hover {
    color: #ffffff;
    background-color: #d07058; }
  .main-navigation__link--active:active {
    -webkit-box-shadow: inset 0px 0px 0px 0px transparent;
    box-shadow: inset 0px 0px 0px 0px transparent; }

.work-time {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  margin-left: 50%; }
  .work-time__text {
    color: #ffffff;
    text-align: right; }
  .work-time__text--big {
    font-size: 22px;
    line-height: 24px;
    margin: 0; }

.about {
  background-image: url("../img/wafer-bg.jpg");
  background-repeat: repeat;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #323232;
  padding: 2.2rem 1.8rem 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem; }
  .about__title {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: .7rem; }

.logo {
  width: 15.4rem;
  height: 6.4rem; }

.banner {
  -webkit-flex-basis: 56rem;
  -ms-flex-preferred-size: 56rem;
  flex-basis: 56rem;
  -webkit-border-radius: 1.5rem;
  border-radius: 1.5rem;
  background-color: #000;
  background-repeat: no-repeat;
  color: #fff; }
  .banner--raspberries-bg {
    background-image: url("../img/raspberries-bg.jpg"); }
  .banner--chocolate-bg {
    background-image: url("../img/chocolate-bg.jpg"); }
  .banner--strawberry-bg {
    background-image: url("../img/strawberry-bg.jpg"); }
  .banner__wrapper {
    margin: 1.4rem 1.7rem 4rem; }
  .banner__title {
    font-size: 3.5rem;
    line-height: 4.1rem;
    margin-bottom: 1.5rem; }
  .banner__text {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 4.5rem; }
  .banner--post-bg {
    background-color: #f8f7f4;
    background-image: url("../img/bg-post.svg");
    background-repeat: no-repeat; }
  .banner__title--color-grey {
    margin-bottom: .5rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 200;
    color: #323232; }
  .banner__wrapper--padding {
    padding-top: 1rem; }
  .banner__text--link {
    font-size: 2.4rem;
    line-height: 3rem;
    color: #323232;
    text-decoration: underline; }
  .banner__wrapper--post-bg {
    background-color: #f8f7f4;
    padding: 3rem 2rem 3.5rem;
    margin: .5rem .6rem;
    -webkit-border-radius: 2rem;
    border-radius: 2rem; }
  .banner_text--color-grey {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #323232;
    margin-bottom: 3.5rem; }

.button-main {
  color: #ffffff;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(left, #e74a35 0%, #f26843 100%);
  background-image: -o-linear-gradient(left, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(90deg, #e74a35 0%, #f26843 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  font-family: "Roboto Bold", Arial, sans-serif; }
  .button-main:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ec6f5e), to(#f58569));
    background-image: -webkit-linear-gradient(bottom, #ec6f5e, #f58569);
    background-image: -o-linear-gradient(bottom, #ec6f5e, #f58569);
    background-image: linear-gradient(to top, #ec6f5e, #f58569);
    -webkit-box-shadow: 0 1px 3px 0 #ac1000;
    box-shadow: 0 1px 3px 0 #ac1000; }
  .button-main:active {
    background-image: -webkit-gradient(linear, left top, right top, from(#e74a35), to(#f26843));
    background-image: -webkit-linear-gradient(left, #e74a35 0%, #f26843 100%);
    background-image: -o-linear-gradient(left, #e74a35 0%, #f26843 100%);
    background-image: linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.6);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.6); }
  .button-main--center {
    padding: 5px 39px 10px;
    margin-left: 350px;
    font-size: 32px;
    line-height: 44px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76); }
  .button-main--other {
    padding: 12px 25px;
    float: right;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
    border: none; }

.button {
  padding: 8px 14px;
  background-color: #9db1a5;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-decoration: none;
  color: #ffffff; }
  .button:hover, .button:focus {
    background-color: #f8f7f4;
    color: #000000; }

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .column__left, .column__right {
    -webkit-flex-basis: 49rem;
    -ms-flex-preferred-size: 49rem;
    flex-basis: 49rem; }
  .column__left {
    padding-left: 5.5rem; }
  .column__text {
    position: relative;
    margin: 1.6rem 0 2.3rem; }
  .column__text::before {
    content: "";
    position: absolute;
    left: -5.5rem;
    bottom: 3rem;
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat; }
  .column__text--icecream::before {
    background-image: url("../img/ice-cream.svg"); }
  .column__text--eco::before {
    bottom: 50px;
    background-image: url("../img/eco.svg"); }
  .column__text--cow::before {
    background-image: url("../img/cow.svg"); }
  .column__text--thermometer::before {
    background-image: url("../img/thermometer.svg"); }

.feedback {
  width: 30.3rem;
  position: absolute;
  top: 6rem;
  right: 2rem;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #fefefe;
  color: #323232;
  padding: 2.7rem; }
  .feedback__text {
    margin-bottom: 2rem; }
  .feedback__text--bold {
    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 2.4rem; }

.form {
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .form__button {
    padding: 1rem 1.6rem; }
  .form__group {
    position: relative;
    margin: 2rem 2.5rem; }
  .form__input {
    height: 4.4rem;
    padding: .8rem 1.5rem 1rem;
    font: inherit;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    outline: none; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
    .form__input::-moz-placeholder {
      color: #999; }
    .form__input:-ms-input-placeholder {
      color: #999; }
    .form__input::-ms-input-placeholder {
      color: #999; }
    .form__input::placeholder {
      color: #999; }
    .form__input:hover {
      border: 2px solid #a7a7a7; }
    .form__input:focus {
      border: 2px solid #8fbdec;
      font-weight: 700; }
    .form__input:focus::-webkit-input-placeholder {
      color: transparent; }
    .form__input:focus::-moz-placeholder {
      color: transparent; }
    .form__input:focus:-ms-input-placeholder {
      color: transparent; }
    .form__input:focus::-ms-input-placeholder {
      color: transparent; }
    .form__input:focus::placeholder {
      color: transparent; }
    .form__input--size-big {
      width: 37rem; }
    .form__input--size-full {
      width: 100%;
      height: 15rem;
      resize: none; }
  .form__label {
    position: absolute;
    top: 0rem;
    left: 1.5rem;
    color: #8fbdec;
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 400;
    display: block;
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .form__input:focus + .form__label {
    opacity: 1;
    -webkit-transform: translateY(-1.5rem) scale(1.1);
    -ms-transform: translateY(-1.5rem) scale(1.1);
    transform: translateY(-1.5rem) scale(1.1); }
  .form__heading {
    color: #323232; }

.icecream {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  color: #fff; }
  .icecream__item {
    position: relative;
    -webkit-flex-basis: 26.7rem;
    -ms-flex-preferred-size: 26.7rem;
    flex-basis: 26.7rem;
    text-align: center; }
    .icecream__item:hover::after {
      content: "";
      display: block;
      position: absolute;
      width: 110%;
      height: 123%;
      top: -1rem;
      left: -1.3rem;
      background-color: rgba(255, 255, 255, 0.3);
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
      z-index: 10; }
  .icecream__box {
    position: relative; }
  .icecream__item:hover .icecream__box {
    z-index: 20; }
  .icecream__item:hover .icecream__button {
    display: block; }
  .icecream__link {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-family: "Roboto Medium", Arial, sans-serif; }
  .icecream__img {
    width: 26.7rem;
    height: 26.7rem;
    margin-bottom: 1rem; }
  .icecream__sticker {
    position: absolute;
    width: 6.1rem;
    height: 6.1rem;
    background-image: url("../img/hit.svg");
    background-repeat: no-repeat;
    z-index: 1; }
  .icecream__price {
    position: absolute;
    top: 21rem;
    left: 0;
    color: #ffffff;
    text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5); }
  .icecream__font {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 4.5rem; }
  .icecream__font--small {
    font-size: 3rem; }
  .icecream__button {
    display: none;
    position: absolute;
    padding: 1rem 2rem;
    margin-top: 1rem;
    left: 4rem; }

.map {
  background-image: url("../img/map.png");
  -webkit-background-size: cover;
  background-size: cover;
  height: 43rem;
  position: relative; }
  .map__pin {
    position: absolute;
    background-image: url("../img/pin.svg");
    width: 8rem;
    height: 14rem;
    background-repeat: no-repeat;
    top: 10rem;
    right: 90rem; }

.radiobox {
  display: inline-block;
  margin-top: 2rem;
  margin-right: .8rem;
  width: 1.7rem;
  height: 1.7rem;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer; }
  .radiobox:hover {
    background: rgba(255, 255, 255, 0.4); }
  .radiobox--selected, .radiobox--selected:hover {
    background-color: #ffffff; }

.slider__title {
  display: none;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: 100;
  font-size: 6rem;
  line-height: 6.2rem;
  color: #ffffff;
  padding: 27.4rem 23.9rem 3.4rem; }

.slider__title--active {
  display: block; }

.social-networks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }
  .social-networks__link {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 3rem;
    height: 3rem;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    border: 3px solid #c2cec7;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    margin-right: 1rem; }
  .social-networks__link:hover {
    opacity: 1; }
  .social-networks__link:active {
    -webkit-box-shadow: inset 0px 2px 2px 0px #888888;
    box-shadow: inset 0px 2px 2px 0px #888888;
    opacity: 0.7; }
  .social-networks__link--insta {
    background-image: url("../img/instagram.svg"); }
  .social-networks__link--twitter {
    background-image: url("../img/twitter.svg"); }
  .social-networks__link--vk {
    background-image: url("../img/vk.svg"); }
  .social-networks__link--fb {
    background-image: url("../img/fb.svg"); }

.user-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: relative; }
  .user-menu__item {
    margin-left: 1rem; }
    .user-menu__item:hover .user-menu__search {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .user-menu__item:hover .form-login {
      display: block; }
    .user-menu__item--buy:hover .form-buy {
      display: block; }
  .user-menu__link {
    position: relative;
    text-decoration: none;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .user-menu__link-text {
    margin-left: .8rem; }
  .user-menu__button {
    padding-top: .8rem;
    padding-bottom: .6rem;
    padding-left: .8rem;
    padding-right: .8rem;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 2rem;
    border-radius: 2rem; }
  .user-menu__button:hover path,
  .user-menu__button:focus path {
    fill: #000; }
  .user-menu__button--width-medium {
    padding-left: 1.2rem;
    padding-right: 1.6rem; }
  .user-menu__button--width-high {
    padding-left: 1.2rem;
    padding-right: 3.6rem; }
  .user-menu__button--width-high:hover path:first-child,
  .user-menu__button--width-high:focus path:first-child {
    fill: #d07058;
    fill-opacity: 1; }
  .user-menu__button--width-high:hover circle,
  .user-menu__button--width-high:focus circle {
    fill: #000; }
  .user-menu__search {
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 34rem;
    height: 7.5rem;
    margin-top: .3rem;
    right: 22rem;
    z-index: 100;
    background-color: #f8f7f4;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5); }
  .user-menu__input {
    width: 90%;
    padding: 1rem 1.5rem;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    font: inherit;
    font-size: 1.4rem;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s; }
    .user-menu__input:hover {
      border: 1px solid #a7a7a7; }

.footer-menu__items {
  width: 330px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  color: #fff; }

.footer-menu__item {
  margin-left: 17px; }

.footer-menu__item:last-child {
  margin-left: 30px; }

.footer-menu__link {
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none; }

.footer-menu__link--favorite {
  position: relative; }

.footer-menu__link--favorite::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 13px;
  top: 3px;
  left: -20px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0; }

.copyright {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #fff; }
  .copyright__link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-decoration: none;
    color: #fff; }

.form-login {
  display: none;
  position: absolute;
  width: 28rem;
  height: 21.9rem;
  margin-top: .3rem;
  right: 12.5rem;
  background-color: #f8f7f4;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 2.4rem; }
  .form-login__form {
    margin: 2rem; }
  .form-login__input {
    width: 100%;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    font: inherit;
    font-size: 1.4rem; }
    .form-login__input:hover {
      border: 1px solid #a7a7a7; }
  .form-login__group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .form-login__button {
    display: inline-block;
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    padding: 1.2rem 2.5rem;
    border: none;
    cursor: pointer; }
  .form-login__link {
    color: #323232;
    display: block;
    font-size: 1.3rem;
    line-height: 2.4rem; }

.form-buy {
  display: none;
  position: absolute;
  margin-top: .3rem;
  right: 0;
  width: 54rem;
  background-color: #f8f7f4;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #323232; }
  .form-buy__form {
    margin: 1rem;
    text-align: right; }
  .form-buy__table {
    border-collapse: collapse;
    width: 100%;
    text-align: left; }
  .form-buy tr:last-child {
    border-bottom: 1px solid #929292; }
  .form-buy td {
    vertical-align: top;
    padding: 1rem 1.2rem 1.4rem 0; }
  .form-buy td:last-child {
    padding-right: 0;
    padding-left: 1rem; }
  .form-buy td:nth-child(3) {
    max-width: 20rem; }
  .form-buy td:nth-child(n+3) {
    padding-top: 1.5rem; }
  .form-buy td:nth-child(4) {
    min-width: 10rem;
    padding-left: 1.5rem; }
  .form-buy td:nth-child(5) {
    min-width: 5rem; }
  .form-buy__caption {
    caption-side: bottom;
    padding: 1.5rem 0;
    text-align: right;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #323232;
    font-weight: 700; }
  .form-buy__btn-del {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0;
    cursor: pointer;
    border: none;
    background-color: transparent; }
    .form-buy__btn-del::before, .form-buy__btn-del::after {
      content: "";
      position: absolute;
      left: 0;
      width: 1.5rem;
      height: .2rem;
      background-color: #323232;
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s; }
    .form-buy__btn-del::before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .form-buy__btn-del::after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .form-buy__btn-del:hover::before, .form-buy__btn-del:hover::after {
      background-color: #d07058; }
  .form-buy__photo {
    width: 3.3rem;
    -webkit-border-radius: 100px;
    border-radius: 100px; }
  .form-buy__text {
    display: table-cell;
    padding: 5rem; }
  .form-buy__price {
    color: #929292; }
  .form-buy__button {
    padding: 1rem 1.5rem;
    border: none;
    font-size: 1.8rem;
    margin-left: auto;
    margin-bottom: 1rem;
    display: inline-block; }

.modal-feedback {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  z-index: 300;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .modal-feedback__button-box {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    top: .5rem;
    right: .5rem; }
  .modal-feedback__content {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    -ms-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    width: 48rem;
    background-color: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #f8f7f4;
    -webkit-transition: all .4s .2s;
    -o-transition: all .4s .2s;
    transition: all .4s .2s; }
  .modal-feedback:target {
    opacity: 1;
    visibility: visible; }
  .modal-feedback:target .modal-feedback__content {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }

.dialog-close-button {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: .8rem; }
  .dialog-close-button::before, .dialog-close-button::after {
    content: "";
    position: absolute;
    left: 0;
    width: 1.5rem;
    height: .2rem;
    background-color: #323232;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
  .dialog-close-button::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .dialog-close-button::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .dialog-close-button:hover::before, .dialog-close-button:hover::after {
    background-color: #d07058; }
  .dialog-close-button--size-big {
    width: 2rem;
    height: 2rem; }
    .dialog-close-button--size-big::before, .dialog-close-button--size-big::after {
      width: 2rem; }

.breadcrumbs {
  font-size: 1.4rem;
  line-height: 1.6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: #fff; }
  .breadcrumbs__item:not(:last-child)::after {
    content: "»";
    padding: 0 .5rem; }

.link {
  color: inherit; }
  .link:visited, .link:link {
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .link:active, .link:hover {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255, 188, 158, 0.4); }
  .link--active:active, .link--active:hover {
    color: #fff;
    border-bottom: none; }

.filters {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 100;
  font-family: "Roboto Medium", Arial, sans-serif;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .filters__group {
    margin-right: 1.4rem;
    margin-bottom: 1.7rem; }
  .filters__label {
    display: block;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-left: 1.5rem;
    margin-bottom: .5rem; }
  .filters__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #aabab0;
    -webkit-border-radius: 2rem;
    border-radius: 2rem;
    padding: 1rem 1.3rem;
    height: 3.5rem; }
  .filters__button {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    height: 3.5rem;
    font: inherit;
    color: #fff;
    border: 2px solid #fff;
    -webkit-border-radius: 2rem;
    border-radius: 2rem;
    background-color: #aabab0;
    padding: .4rem 2.8rem;
    margin-top: .3rem; }
    .filters__button:hover {
      background-color: #fbfcfb;
      color: #000; }
    .filters__button:active {
      border: none;
      -webkit-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.7);
      box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.7);
      background-color: #eaeaea; }

.custom-select {
  /* Custom Select */
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 19rem;
  height: 3.5rem;
  background-color: #aabab0;
  overflow: hidden;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  /* Custom Arrow */ }
  .custom-select::after {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1rem;
    background-color: #aabab0;
    pointer-events: none; }
  .custom-select:hover::after {
    background-color: #fff;
    color: #000; }
  .custom-select select {
    /* Reset Select */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    background-color: #aabab0;
    background-image: none;
    text-indent: 0.01px;
    -o-text-overflow: "";
    text-overflow: "";
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    font: inherit; }
    .custom-select select::-ms-expand {
      display: none; }
    .custom-select select:hover {
      background-color: #fff;
      color: #000; }

.custom-radio {
  cursor: pointer;
  margin-right: 1.9rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }
  .custom-radio:last-child {
    margin-right: .6rem; }
  .custom-radio__label::before {
    content: "";
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    border: 0.3rem solid #eef2f0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0.4rem;
    margin-right: 0.8rem;
    vertical-align: -.5rem;
    background-color: transparent;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .custom-radio__input:checked + .custom-radio__label::before {
    background-color: #eef2f0;
    border-color: #eef2f0; }
  .custom-radio__input:checked:hover + .custom-radio__label::before {
    background-color: #fff;
    border-color: #fff; }
  .custom-radio__input:hover + .custom-radio__label::before {
    border-color: #fff; }
  .custom-radio__input[disabled] + .custom-radio__label::before {
    border-color: #c0cfc7; }

.custom-check {
  cursor: pointer;
  margin-right: 1.9rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }
  .custom-check:last-child {
    margin-right: .6rem; }
  .custom-check__label {
    position: relative; }
  .custom-check__label::before {
    content: "";
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    -webkit-border-radius: .3rem;
    border-radius: .3rem;
    margin-right: 1.2rem;
    vertical-align: -.5rem;
    border: 0.2rem solid #eef2f0;
    padding: 0.4rem;
    background-color: transparent;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .custom-check__label::after {
    position: absolute;
    content: "";
    height: 2rem;
    width: 1rem;
    left: .4rem;
    top: 1rem;
    border-right: .4rem solid #000000;
    border-top: .4rem solid #000000;
    -webkit-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    display: none; }
  .custom-check__input:checked + .custom-check__label::after {
    -webkit-animation: check 0.8s ease 0s running;
    animation: check 0.8s ease 0s running;
    display: block;
    width: 1rem;
    height: 2rem;
    border-color: #eef2f0; }
  .custom-check__input:hover + .custom-check__label::before {
    border-color: #fff; }
  .custom-check__input:checked:hover + .custom-check__label::after {
    border-color: #fff; }
  .custom-check__input[disabled] + .custom-check__label::before {
    border-color: #c0cfc7; }

.custom-range {
  position: relative;
  width: 20rem; }
  .custom-range__min {
    position: absolute;
    padding-left: 1rem;
    width: 10rem; }
  .custom-range__max {
    position: absolute;
    left: 10rem;
    padding-right: 1rem;
    width: 10rem; }
  .custom-range input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #fff;
    height: 18px;
    width: 18px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -7px; }
  .custom-range input[type=range]::-ms-thumb {
    border: 1px solid #fff;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer; }
  .custom-range input[type=range]::-moz-range-thumb {
    border: 1px solid #fff;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer; }
  .custom-range input[type=range] {
    -webkit-appearance: none;
    background: transparent; }
  .custom-range input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; }
  .custom-range input[type=range]:focus {
    outline: none; }
  .custom-range input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  .custom-range input[type=range]::-webkit-slider-runnable-track {
    margin-top: .5rem;
    width: 100%;
    height: 4.4px;
    cursor: pointer;
    background: #d1dad3; }
  .custom-range input[type=range]::-moz-range-track {
    width: 100%;
    height: 4.4px;
    cursor: pointer;
    background: #d1dad3; }
  .custom-range input[type=range]::-ms-track {
    width: 100%;
    height: 4.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent; }
  .custom-range input[type=range]:focus::-ms-fill-lower {
    background: #d1dad3; }
  .custom-range input[type=range]::-ms-fill-upper {
    background: #d1dad3; }

.page-nav {
  list-style: none;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-align: right; }
  .page-nav__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 .2rem; }
  .page-nav__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    text-decoration: none;
    color: #fff;
    -webkit-border-radius: 100%;
    border-radius: 100%; }
    .page-nav__link:hover {
      background-color: #9db1a5; }
    .page-nav__link--active {
      background-color: #fff;
      color: #000; }
      .page-nav__link--active:hover {
        background-color: #fff; }
  .page-nav__arrow {
    font-size: 3rem;
    text-decoration: none;
    color: #fff; }
    .page-nav__arrow--close {
      opacity: .5; }
