@font-face {
 font-family: "Roboto";
 src: url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
}

@font-face {
 font-family: "Roboto Bold";
 src: url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
}

@font-face {
 font-family: "Roboto Medium";
 src: url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
}

.button {
  padding: 8px 14px;
  background-color: #9db1a5;
  border-radius: 30px;
}

.button:hover,
.button:focus {
  background-color: #f8f7f4;
  color: #000000;
}

.page {
  min-width: 1183px;
  margin: 0;
  padding: 0;

  background-color: #849d8f;
  background-image: url("../img/bg1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
}

.font {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.font--bold {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.font--medium {
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.main-header {
  display: flex;
  padding-top: 9px;
  width: 1146px;
}

.main-header__image {
  width: 154px;
  height: 64px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation__items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-navigation__item {
  padding-left: 9px;
}

.main-navigation__link {
  position: relative;
  padding: 8px 14px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation__link::before {
  content: " ";
	position: absolute;
	left: 12px;
	right: 13px;
	bottom: 8px;
	height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.main-navigation__link:hover {
  background-color: #f7f6f3;
  border-radius: 30px;
  color: #000000;
}

.main-navigation__link:active {
  box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
}

.main-navigation__link--active {
  color: #ffffff;
  background-color: #d07058;
  border-radius: 30px;
}

.main-navigation__link--active::before {
  content: "";
  background-color: #d07058;
}

.main-navigation__link--active:hover {
  color: #ffffff;
  background-color: #d07058;
}

.main-navigation__link--active:active {
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

/*TODO Стилизовать подменю! */
.submenu {
  display: none;
}

.user-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-menu__button {

}

.user-menu__link {
  text-decoration: none;
  color: #ffffff;
}

.user-menu__link-text {
  vertical-align: middle;
}

.button:hover path,
.button:focus path {
  fill: #000000;
}

.main-navigation__button--color-red:hover path:first-child,
.main-navigation__button--color-red:focus path:first-child {
  fill: #e84d37;
}

.main-navigation__button--color-red:hover circle,
.main-navigation__button--color-red:focus circle {
  fill: #000000;
}
