@font-face {
 font-family: "Roboto";
 src: url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
}

@font-face {
 font-family: "Roboto Bold";
 src: url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
}

@font-face {
 font-family: "Roboto Medium";
 src: url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
}

.button {
  padding: 8px 14px;
  background-color: #9db1a5;
  border-radius: 30px;
}

.button:hover,
.button:focus {
  background-color: #f8f7f4;
  color: #000000;
}

.page-picture {
  background-color: #849d8f;
  background-image: url("../img/bg1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
}

.font {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.font--bold {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.font--medium {
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.main-header {
  display: flex;
  padding-top: 9px;
  width: 1146px;
}

.main-header__image {
  width: 154px;
  height: 64px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.main-navigation__items {
  width: 702px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 9px;
}

.main-navigation__link {
  position: relative;
  padding: 8px 14px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation__link::before {
  content: " ";
	position: absolute;
	left: 12px;
	right: 13px;
	bottom: 8px;
	height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.main-navigation__link:hover {
  background-color: #f7f6f3;
  border-radius: 30px;
  color: #000000;
}

.main-navigation__link:active {
  box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
}

.main-navigation__link--active {
  color: #ffffff;
  background-color: #d07058;
  border-radius: 30px;
}

.main-navigation__link--active::before {
  content: "";
  background-color: #d07058;
}

.main-navigation__link--active:hover {
  color: #ffffff;
  background-color: #d07058;
}

.main-navigation__link--active:active {
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.submenu {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.submenu--visible {
  display: block;
}

.submenu__item {
  padding: 10px 19px;
}

.submenu__link--active {
  position: relative;
}

.submenu__link--active::before {
  content: " ";
	position: absolute;
	left: -10px;
	right: -55px;
	bottom: -10px;
	height: 1px;
  background: rgba(0, 0, 0, 0.2);
}

.submenu__link {
  color: #000000;
  text-decoration: none;
}

.user-menu {
  width: 267px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -8px;
  padding-left: 10px;
}

.user-menu__button {
  display: inline-block;
  padding: 8px 8px 6px;
  border-radius: 20px;
}

.user-menu__button:hover path,
.user-menu__button:focus path {
  fill: #000000;
}

.user-menu__button--width-medium {
  padding-left: 16px;
  padding-right: 16px;
}

.user-menu__button--width-high {
  padding-left: 16px;
  padding-right: 36px;
}

.user-menu__button--width-high:hover path:first-child,
.user-menu__button--width-high:focus path:first-child {
  fill: #e84d37;
}

.user-menu__button--width-high:hover circle,
.user-menu__button--width-high:focus circle {
  fill: #000000;
}


.user-menu__link {
  text-decoration: none;
  color: #ffffff;
  margin-left: 10px;
}

.user-menu__link-text {
  vertical-align: 3px; 
}

.user-menu__text {
  color: #ffffff;
  margin: 16px 0 4px;
  text-align: right;
}

.user-menu__text--big {
  font-size: 22px;
  line-height: 24px;
  margin: 0;
}

