@font-face {
 font-family: "Roboto";
 src: url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
}

@font-face {
 font-family: "Roboto Bold";
 src: url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
}

@font-face {
 font-family: "Roboto Medium";
 src: url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
}

.button {
  padding: 8px 14px;
  background-color: #9db1a5;
  border-radius: 30px;
  text-decoration: none;
  color: #ffffff;
}

.button:hover,
.button:focus {
  background-color: #f8f7f4;
  color: #000000;
}

.page-picture {
  background-color: #849d8f;
  background-image: url("../img/bg1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
}

.font {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.font--bold {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.font--medium {
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.main-header {
  display: flex;
  padding-top: 9px;
  width: 1146px;
}

.main-header__image {
  width: 154px;
  height: 64px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.main-navigation__items {
  width: 702px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 9px;
}

.main-navigation__link {
  position: relative;
  padding: 8px 14px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation__link::before {
  content: " ";
	position: absolute;
	left: 12px;
	right: 13px;
	bottom: 8px;
	height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.main-navigation__link:hover {
  background-color: #f7f6f3;
  border-radius: 30px;
  color: #000000;
}

.main-navigation__link:active {
  box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
}

.main-navigation__link--active {
  color: #ffffff;
  background-color: #d07058;
  border-radius: 30px;
}

.main-navigation__link--active::before {
  content: "";
  background-color: #d07058;
}

.main-navigation__link--active:hover {
  color: #ffffff;
  background-color: #d07058;
}

.main-navigation__link--active:active {
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.submenu {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.submenu--visible {
  display: block;
}

.submenu__item {
  padding: 10px 19px;
}

.submenu__item:hover {
  background-color: #fbded7;
}

.submenu__item:active {
  background-color: #f6b5a5;
}

.submenu__link--select {
  background-color: #d07058;
}

.submenu__link--active {
  position: relative;
}

.submenu__link--active::before {
  content: " ";
	position: absolute;
	left: -10px;
	right: -55px;
	bottom: -10px;
	height: 1px;
  background: rgba(0, 0, 0, 0.2);
}

.submenu__link {
  color: #000000;
  text-decoration: none;
}


.user-menu {
  width: 267px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -8px;
  padding-left: 10px;
}

.user-menu__button {
  display: inline-block;
  padding: 8px 8px 6px;
  border-radius: 20px;
}

.user-menu__button:hover path,
.user-menu__button:focus path {
  fill: #000000;
}

.user-menu__button--width-medium {
  padding-left: 16px;
  padding-right: 16px;
}

.user-menu__button--width-high {
  padding-left: 16px;
  padding-right: 36px;
}

.user-menu__button--width-high:hover path:first-child,
.user-menu__button--width-high:focus path:first-child {
  fill: #e84d37;
}

.user-menu__button--width-high:hover circle,
.user-menu__button--width-high:focus circle {
  fill: #000000;
}


.user-menu__link {
  text-decoration: none;
  color: #ffffff;
  margin-left: 10px;
}

.user-menu__link-text {
  vertical-align: 3px; 
}

.user-menu__text {
  color: #ffffff;
  margin: 16px 0 4px;
  text-align: right;
}

.user-menu__text--big {
  font-size: 22px;
  line-height: 24px;
  margin: 0;
}

.slider__title {
  display: none;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: 100;
  font-size: 60px;
  line-height: 62px;
  color: #ffffff;
  padding: 270px 239px 34px;
  margin: 0;
}

.slider__title--active {
  display: block;
}

.button-main {
  color: #ffffff;
  border-radius: 30px;
  text-decoration: none;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image:-webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  font-family: "Roboto Bold", Arial, sans-serif;
}

.button-main--center {
  padding: 5px 39px 10px;
  margin-left: 350px;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.button-main--other {
  padding: 12px 25px;
  float: right;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
  border: none;
}

.button-main:hover {
  background-image: linear-gradient(to top,#ec6f5e,#f58569);
  box-shadow: 0 1px 3px 0 rgba(172,16,0,1);
}

.button-main:active {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image:-webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.6);
}

.slider {
  margin-bottom: 50px;
}

.radiobox {
  display: inline-block;
  margin-top: 20px;
  margin-right: 8px;
  
  width: 17px;
  height: 17px;

  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.radiobox:hover {
  background: rgba(255,255,255,0.4);
}

.radibox--selected, 
.radibox--selected:hover {
  background-color: #ffffff;
}

.two-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.banner {
  width: 560px;
  border-radius: 20px;
}

.banner--raspberries-bg {
  background-color: #000000;
  background-image: url("../img/raspberries-bg.jpg");
  background-repeat: no-repeat;
}

.banner--chocolate-bg {
  background-color: #000000;
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: no-repeat;
}

.banner__wrapper {
  padding: 0;
  margin: 14px 17px 40px;
}

.banner__title {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.banner__text {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 43px;
}

.icecream {
  margin-bottom: 40px;
}

.icecream__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.icecream__item {
  position: relative;
  width: 267px;
  text-align: center;
}

.icecream__text {
  display: inline;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.icecream__img {
  width: 267px;
  height: 267px;
  margin-bottom: 10px;
}

.icecream__sticker {
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

.icecream__price {
  position: absolute;
  bottom: 65px;
  left: 0px;
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.icecream__font {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.icecream__font--small {
  font-size: 30px;
}

.about {
  background-image: url("../img/wafer-bg.jpg");
  background-repeat: repeat;
  border-radius: 20px;
  color: #323232;
  margin-bottom: 40px;
}

.about__wrapper {
  padding: 22px 18px 0;
}

.about__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}

.column {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.column__left, 
.column__right {
  width: 490px;
  padding-left: 55px;
}

.column__text {
  position: relative;
  margin: 16px 0 23px;
}

.column__text::before {
  content: "";
  position: absolute;
  left: -55px;
  bottom: 30px;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
}

.column__text--icecream::before {
  background-image: url("../img/ice-cream.svg");
}

.column__text--eco::before {
  bottom: 50px;
  background-image: url("../img/eco.svg");
}

.column__text--cow::before {
  background-image: url("../img/cow.svg");
}

.column__text--thermometer::before {
  background-image: url("../img/thermometer.svg");
}

.banner--strawberry-bg {
  background-color: #000000;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  padding-bottom: 35px;
}

.banner--post-bg {
  background-color: #f8f7f4;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
}

.banner__title--color-grey {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 200;
  color: #323232;
}

.banner__wrapper--padding {
  padding-top: 10px;
}

.banner__text--link {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.banner__wrapper--post-bg {
  background-color: #f8f7f4;
  padding: 30px 20px 35px;
  margin: 5px 6px;
  border-radius: 20px;
}

.banner_text--color-grey {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  margin: 0 0 35px;
}

.form__mail {
  box-sizing: border-box;
  width: 370px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  font: inherit;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #d3d3d2;
}

.form__button {
  padding: 10px 16px;
}

.feedback {
  position: absolute;
  top: 61px;
  right: 20px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 20px;
  background-color: #fefefe;
}

.feedback__wrapper {
  padding: 27px; 
}

.map {
  position: relative;
}