$color-bg-1 : #849d8f;

$color-light-white-1: #f7f6f3;
$color-light-white-2: #f8f7f4;

$color-light-red: #d07058;
$color-light-red-2: #f6b5a5;
$color-light-red-3: #fbded7;

$color-dark-grey: #323232;
$color-light-grey: #929292;

$shadow-dark-blur: 0 1rem 3rem rgba(0,0,0,0.5);

$font-roboto: "Roboto", Arial, sans-serif;
$font-roboto-medium: "Roboto Medium", Arial, sans-serif;
$font-roboto-bold: "Roboto Bold", Arial, sans-serif;
