.main-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.main-navigation__items {
  width: 702px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 9px;
}

.main-navigation__link {
  position: relative;
  padding: 8px 14px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation__link::before {
  content: " ";
	position: absolute;
	left: 12px;
	right: 13px;
	bottom: 8px;
	height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.main-navigation__link:hover {
  background-color: #f7f6f3;
  border-radius: 30px;
  color: #000000;
}

.main-navigation__link:active {
  box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
}

.main-navigation__link--active {
  color: #ffffff;
  background-color: #d07058;
  border-radius: 30px;
}

.main-navigation__link--active::before {
  content: "";
  background-color: #d07058;
}

.main-navigation__link--active:hover {
  color: #ffffff;
  background-color: #d07058;
}

.main-navigation__link--active:active {
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
}