.about {
  background-image: url("../img/wafer-bg.jpg");
  background-repeat: repeat;
  border-radius: 20px;
  color: #323232;
  margin-bottom: 40px;
}

.about__wrapper {
  padding: 22px 18px 0;
}

.about__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}