.column {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.column__left, 
.column__right {
  width: 490px;
  padding-left: 55px;
}

.column__text {
  position: relative;
  margin: 16px 0 23px;
}

.column__text::before {
  content: "";
  position: absolute;
  left: -55px;
  bottom: 30px;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
}

.column__text--icecream::before {
  background-image: url("../img/ice-cream.svg");
}

.column__text--eco::before {
  bottom: 50px;
  background-image: url("../img/eco.svg");
}

.column__text--cow::before {
  background-image: url("../img/cow.svg");
}

.column__text--thermometer::before {
  background-image: url("../img/thermometer.svg");
}