.column {
  display: flex;
  justify-content: space-between;

  &__left, 
  &__right {
    flex-basis: 49rem;
  }

  &__left {
    padding-left: 5.5rem;
  }

  &__text {
    position: relative;
    margin: 1.6rem 0 2.3rem;
  }

  &__text::before {
    content: "";
    position: absolute;
    left: -5.5rem;
    bottom: 3rem;
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
  }
  
  &__text--icecream::before {
    background-image: url("../img/ice-cream.svg");
  }

  &__text--eco::before {
    bottom: 50px;
    background-image: url("../img/eco.svg");
  }

  &__text--cow::before {
    background-image: url("../img/cow.svg");
  }

  &__text--thermometer::before {
    background-image: url("../img/thermometer.svg");
  }
}