.feedback {
  width: 30.3rem;
  position: absolute;
  top: 6rem;
  right: 2rem;

  font-family: $font-roboto;
  font-size: 1.4rem;
  line-height: 2rem;

  border-radius: 20px;
  background-color: #fefefe;
  color: $color-dark-grey;
  padding: 2.7rem; 

  &__text {
    margin-bottom: 2rem;
  }

  &__text--bold {
    font-family: $font-roboto-bold;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}