.filters {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 100;
  font-family: $font-roboto-medium;
  color: #fff;
  display: flex;

  &__group {
    margin-right: 1.4rem;
  }

  &__label {
    display: block;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-left: 1.5rem;
    margin-bottom: .5rem;
  }
}