.form__mail {
  box-sizing: border-box;
  width: 370px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  font: inherit;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #d3d3d2;
}

.form__button {
  padding: 10px 16px;
}