.form {
  &__mail {
    width: 37rem;
    padding: .8rem 1.5rem 1rem;
    font: inherit;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #d3d3d2;
  }

  &__button {
    padding: 1rem 1.6rem;
  }
}



