.icecream {
  margin-bottom: 40px;
}

.icecream__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.icecream__item {
  position: relative;
  width: 267px;
  text-align: center;
}

.icecream__text {
  display: inline;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.icecream__img {
  width: 267px;
  height: 267px;
  margin-bottom: 10px;
}

.icecream__sticker {
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

.icecream__price {
  position: absolute;
  bottom: 65px;
  left: 0px;
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.icecream__font {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.icecream__font--small {
  font-size: 30px;
}