.page-nav {
  list-style: none;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-align: right;

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 .2rem;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.4rem;  
    height: 2.4rem;
    text-decoration: none;
    color: #fff;
    border-radius: 100%;

    &:hover {
      background-color: #9db1a5;
    }

    &--active {
      background-color: #fff;
      color: #000;

      &:hover {
        background-color: #fff;
      }
    }
  }

  &__arrow {
    font-size: 3rem;
    text-decoration: none;
    color: #fff;

    &--close {
      opacity: .5;
    }
  }
}