.radiobox {
  display: inline-block;
  margin-top: 2rem;
  margin-right: .8rem;
  
  width: 1.7rem;
  height: 1.7rem;

  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background: rgba(255,255,255,0.4);
  }

  &--selected, 
  &--selected:hover {
    background-color: #ffffff;
  }
}