.submenu {
  display: none;
  position: absolute;
  list-style: none;
  left: 21.5rem;
  margin-top: 1.2rem;
  background-color: $color-light-white-2;
  border-radius: 5px;
  box-shadow: $shadow-dark-blur;
  
  font-family: $font-roboto;
  font-size: 1.4rem;
  line-height: 1.6rem;  
  color: #000;  

  &__link:hover {
    background-color: $color-light-red-3;
    border-radius: 0 0 5px 5px;
  }

  &__link:active {
    background-color: $color-light-red-2;
  }

  &__link:link,
  &__link:visited {
    padding: 1rem 2rem;
    
    color: #000;
    text-decoration: none;
    display: block;
    transition: all .2s;
  }

  &__link--active,
  &__link--active:hover,
  &__link--active:active {
    background-color: $color-light-red;
  }

  &__title {
    position: relative;
    padding: .8rem 2rem .8rem;
    margin-bottom: .6rem;
    margin-top: .2rem;
    font-family: $font-roboto-bold;
    line-height: 1.8rem;
  } 

  &__title::before {
    content: " ";
    position: absolute;
    width: 90%;
    left: 8px;
    bottom: -6px;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
  }
}