.user-menu {
  display: flex;
  list-style: none;

  &__item {
    margin-left: 1rem;
  }

  &__link {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
  }
  
  &__link-text {
    margin-left: .8rem;
  }

  &__button {
    padding-top: .8rem;
    padding-bottom: .6rem;
    padding-left: .8rem;
    padding-right: .8rem;
  }

  &__button:hover path,
  &__button:focus path {
    fill: #000;
  }

  &__button--width-medium {
    padding-left: 1.2rem;
    padding-right: 1.6rem;
  }
  
  &__button--width-high {
    padding-left: 1.2rem;
    padding-right: 3.6rem;
  }

  &__button--width-high:hover path:first-child,
  &__button--width-high:focus path:first-child {
    fill: $color-light-red;
  }

  &__button--width-high:hover circle,
  &__button--width-high:focus circle {
    fill: #000;
  }
}