@font-face {
 font-family: "Roboto";
 src: url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
}

@font-face {
 font-family: "Roboto Bold";
 src: url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
}

@font-face {
 font-family: "Roboto Medium";
 src: url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
}

.font {
  font-family: $font-roboto;
  font-size: 1.6rem;
  line-height: 2.2rem;

  &--bold {
    font-family: $font-roboto-bold;
    line-height: 1.8rem;
  }

  &--medium {
    font-family: $font-roboto-medium;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

.main-heading {
  font-size: 3.5rem;
  line-height: 4.1rem;
  font-weight: 400;
  color: #fff;
  font-family: $font-roboto-bold;
  margin: 0;
}