.breadcrumbs { 
  margin-top: -1.6rem;
  margin-bottom: .3rem;
}

.section-catalog {
  margin-bottom: 2.4rem;
}

.section-catalog-icecream {
  margin-bottom: 6rem;
}

.page-nav {
  padding-bottom: 4rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #a9bbb1;
}