.container {
  width: 120rem;
  padding: 0 2.7rem;
  margin: 0 auto;
}

.page-picture {
  background-position: 50% 0;
  background-repeat: no-repeat;

  @media (max-width: 89rem) {
    background-position: 7.3rem 0;
  }

  &--bg1 {
    background-color: $color-bg-1;
    background-image: url("../img/bg1.png");
  }

  &--bg2 {
    background-color: $color-bg-2;
    background-image: url("../img/bg2.png");
  }
 
  &--bg3 {
    background-color: $color-bg-3;
    background-image: url("../img/bg3.png");
  }
}

.section-slider {
  margin-bottom: 5.5rem;
}

.two-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.section-price {
  margin-bottom: 3.8rem;
}

.section-about {
  margin-bottom: 4rem;
}

.section-feedback {
  position: relative;
  width: 120rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

